<html>
    <head>
      {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap' %}
        <style>
            {% include "css/styles.css" ignore missing %}
            
        </style>
        <title>Dave Hearne :: Personal Site</title>
    </head>    
    <body>
        <div class = "main-content">
        <div class = "main-content-heading">
            <h1 >
                {{title | safe}}
            </h1>
            {{ content | safe }}
        </div>
    </body>
</html>